{% extends "app.html.twig" %}

{% block content %}
    <div class="container">
        <section class="signup_form row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">

                        <ul id="navigation">

                            {% for item in poll %}
                                <li><a href="/user/poll/{{ item.id }}">{{ item.name }}</a></li>
                                {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
